p{
    width:70%;
}




.aboutContent { 
    padding-left: 6%;
}

.aboutContent h1 {
    font-size: 4.5em;
    padding-top: 15%;
}

@media only screen and (max-width: 900px){
    p{
        width:80%;
    }
    .aboutContent h1 {
        padding-top: 7%;
    }
}