div.index{
     text-align: left;
}
h1{

    margin: 0;
    font-size: 4em;
}

div.vidWrapper{
    width: 70%;
  }
@media only screen and (max-width: 1200px){
    div.vidWrapper{
      width: 100%;
    }
  }