* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  
}

a {
  text-decoration: none;
  color: greenyellow;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  /* background: #108db8; */
  position: fixed;
  text-align: right;
  padding-right: 10%;
  z-index: 1000;
  ;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
  transition-duration: .2s;
  padding-right: 7%;
  font-size: 22px;
}

nav a:hover {
  transform: scale(1.3);

}


.content {
  margin-top: 5rem;
  color: white;
}

.credit{
  color: rgba(255, 255, 255, 0.692);
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 100%;
  font-size: .7em;
}

div.main{
  display: flex;
  flex-direction: row;
}


div.splashContainer{
  width: 50%;
  max-height: 100vh; 
  overflow: hidden;
  position: relative;
}
div.contentContainer{
  width: 50%;
     overflow-X: hidden;
     height: 100vh;
}
div.sMContainer{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 1em;
  
}
.externalIcon{
  margin: .5em;
  z-index: 1000;
  filter: #fff; /* IE6-9 */
  -webkit-filter: brightness(100); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: brightness(100); /* Microsoft Edge and Firefox 35+ */
  width: 55px;
  height: 55px;
}
  
  /* Disable grayscale on hover */
.externalIcon:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  
}

button.callToAction{
  background: #0000003d;
  position: absolute;
  top: 70%;
  right:40%;
  z-index: 1000;
  border: solid greenyellow 2px;
  border-radius: 25px;
  font-size: 1.25em;
  line-height: 175%;
  transition-duration: .2s;
}
button.callToAction:hover{
  transform: scale(1.3);
}

button.callToAction a{
  color: greenyellow;
}

@media only screen and (max-width: 900px){
  nav a{
    padding-right: 4.75%;
  }
  .externalIcon{
    width: 45px;
    height: 45px;
  }
  button.callToAction{
    right: 30%;
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px){
  div.main{
    flex-direction: column;

  }
  nav{
    text-align: center;
  }
  nav > a{
    text-decoration: none;
    font-size: 16px;
   text-shadow: black;
  }
  div.splashContainer{
    width: 100%;
    max-height: 100vh; 
    overflow: hidden;
  }
  div.contentContainer{
    width: 100%;
  }
  div.content{
    margin-top: .5rem;
  }
  div.sMContainer{
    position: absolute;
    top: unset;
    left: unset;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    margin: 1em;
    
  }
  .externalIcon{
    margin: .5em;
    z-index: 1000;
    filter: #fff; /* IE6-9 */
    -webkit-filter: brightness(100); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: brightness(100); /* Microsoft Edge and Firefox 35+ */
    width: 35px;
  height: 35px;
  }
  button.callToAction{
   top: 45%;
   font-size: .7em;
  }
}




@media only screen and (max-width: 420px){
  .externalIcon{
    width: 30px;
    height: 30px;
  }
 
}



